<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <!-- Voeg hier je navigatiemenu toe -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Projects</a></li>
                <li><a href="/studios">Studios</a></li>
                <!-- Voeg meer links toe zoals nodig -->
            </ul>
        </nav>
    </header>

    <div class="content">
        {{ content }}
    </div>

    <footer>
        <!-- Voettekst -->
        <p>&copy; 2024 Jouw Naam</p>
    </footer>
</body>
</html>
